@tailwind base;
@tailwind components;
@tailwind utilities;

.title1 {
    @apply text-3xl font-bold text-center text-black mb-6;
}

.title2 {
    @apply text-3xl font-bold text-black mb-6;
}
/* In your app.css or a separate CSS file */
.error {
    color: #e53e3e;  /* Tailwind's red-700 color */
    font-size: 0.875rem;  /* Slightly smaller text */
    margin-top: 0.25rem;  /* Adds space above the error message */
}
.input1 {
    @apply w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-gray-800 placeholder-gray-400;
}

/* Card styles */
.card1 {
    @apply bg-white rounded-lg shadow-lg p-6 mb-6;
}